# Requirements for testing and doc building
requests==2.32.3
biopython==1.82.0
pytest-xdist==3.6.1
pytest-cov==4.0.0
pandas==2.1.2

sphinx==8.1.3
docutils==0.21.2
myst-parser==4.0.0
shibuya==2024.10.15
tqdm==4.67.1
pydantic==2.10.3